<div class="maincont">
    <h2 class="porttitle">Portfolio</h2>
    <div class="portgrid">
        <div class="portcards">
            <img src="img/cocktail.png" alt="Sketch of a cocktail glass">
            <p>Illustration</p>
        </div>
        <div class="portcards">
            <img src="img/Phone.png" alt="Image of a phone">
            <p>UX Design</p>
        </div>
        <div class="portcards">
            <img src="img/Unwind-01.png" alt="Image of business cards">
            <p>Graphic Design</p>
        </div>
        <div class="portcards">
            <img src="img/cup.JPG" alt="Photograph of a cup">
            <p>Photography</p>
        </div>
        <div class="portcards">
            <img src="img/Magazine.png" alt="Image of a magazine ">
            <p>Layout Design</p>
        </div>
        <div class="portcards">
            <img src="img/Toronto-01.png" alt="Image of a laptop">
            <p>Web Design</p>
        </div>
    </div>
</div>